
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* NAVBAR ---------------------------------------------------------------------------------------------------------------*/

.navbar {
    background-color: black;
    width: 100%;
    height: 5.2vw;
    min-height: 85px;
    min-width: 320px;
    max-height: 300px;

    box-shadow: 0vw .5vw 3vw .02vw rgba(0,0,0,0.7);
    -webkit-box-shadow: 0vw .5vw 3vw .02vw rgba(0,0,0,0.7);
    -moz-box-shadow: 0vw .5vw 3vw .02vw rgba(0,0,0,0.7);

    /* animation: mowgli 800ms ease-out; */
}

@media all and (min-width: 3000px) {
    .navbar {
        height: 190px;
    }
}

.navlist {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;      
    text-decoration: none; 
    background-color: black; 
    text-align: center;
}

.nav-btn li {
    transition: 170ms ease-in-out;
}

@media (hover: hover) and (pointer: fine){
    .nav-btn li:hover {
        transform: scale(1.05);
        background-color: rgb(44, 44, 44);
    }
}

.nav-btn:active {
    transform: scale(.85);
}

.navlist li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;      
    list-style: none;  
    font-size: calc(14px + .590625vw);                                                                                                                                                                                                                                                                                                                                                                                                  
}

.nav-btn-logo {
    height: 1.8vw;
    min-height: 30px;
    max-height: 110px;
}

/* SUBMIT FORM -----------------------------------------------------------------------------------------------------*/

.form {
    width: 30%;
    min-width: 320px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: calc(12px + .290625vw); 
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form h2 {
    color: rgb(2, 2, 0);
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.form form {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(11, 1fr);
    column-gap: 3%;
    padding: 7%;
}

.bloxer {
    display: flex;
    flex-direction: column;
    color: white;
    grid-column: span 2;
}

.wide {
    color: white;
    display: flex;
    flex-direction: column;
    grid-column: span 4;
}

.wierdo {
    color: white;
    grid-column: span 1;
}

.wierdo input {
    width: 80%;
}

.dims {
    margin-top: 2%;
    width: 50%;
}

#company {
    grid-column: 2 / 4;
}

.submit {
    padding: 4% 10%;
    margin: 0 auto;
    grid-column: 2 / 4;
    margin: 5%;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: large;
    font-weight: 800;
    cursor: pointer;
}

input {
    padding: 3%;
    border-radius: 0;
}

textarea {
    padding: .5% 0 5% .5%;
    border-radius: 0;
    border: 2px solid black;
}

input, textarea {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media all and (max-width: 2500px) {
    .form {
        width: 50%;
    }
}

@media all and (max-width: 1500px) {
    .form {
        width: 70%;
    }
}

@media all and (max-width: 1050px) {
    .form form {
        display: flex;
        flex-direction: column;
    }

    .bloxer {
        width: 70%;
        margin: 3% 0;
    }

    .wierdo {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 3% 0;
    }

    .wide {
        margin: 3% 0;
    }

    .submit {
        padding: 4% 14%;
        display: flex;
        align-self: center;
        align-items: center;
    }
}

/* FOOTER -----------------------------------------------------------------------------------------------------*/

.footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    padding: 2.8%;
    min-width: 320px;
    min-height: 85px;
    box-shadow: 0vw .5vw 3vw .02px rgba(0,0,0,0.7);

    /* animation: mowgli3 800ms ease-out; */
}

@media all and (min-width: 3000px) {
    .footer {
        padding: 1.8%;
    }
}

.footer-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.vanc {
    font-size: calc(16px + .290625vw); 
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.number {
    text-decoration: none;
    padding: 1%;
    font-size: calc(15px + .290625vw);  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media all and (max-width: 700px) {
    .footer {
        max-height: 4%;
    }
}

@media all and (max-width: 500px) {
    .number {
        font-size: calc(8.7px + .290625vw);  
        margin-right: 3%;
        padding: 0;
    }
    .vanc {
        font-size: calc(11px + .290625vw);  
        margin-left: 3%;
        padding: 0; 
    }
}

/* FOOTER SMEEE -----------------------------------------------------------------------------------------------------*/

.smlogos {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.smlogos li {
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(30px + 1.090625vw);
    min-width: 40px;
    max-width: 200px;
    height: calc(30px + 1.090625vw);
    min-height: 40px;
    max-height: 200px;
}

.smlogos img {
    height: calc(6px + 1.090625vw);
    min-height: 25px;
    max-height: 150px;
}

.liig {
    margin-left: 4%;
    margin-right: 4%;
    background-image: url("logos/circle-degrade-gradient-instagram-abstract-260nw-1461234611.webp");
    background-size: cover;
}

.liigcover {
    background-color: rgb(43, 43, 43);
    transition: 200ms ease-in-out;
}

.smlogos li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lifb {
    transition: 200ms ease-in-out;
}

.lili {
    transition: 200ms ease-in-out;
}

@media (hover: hover) and (pointer: fine){
    .liigcover:hover {
        background-color: rgba(0, 0, 0, 0);
    }
    
    .lili:hover {
        background-color: #0072b1;
    }
    
    .lifb:hover {
        background-color: #3b5998;
    }
}

@keyframes mowgli {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes mowgli2 {
    0% {
        opacity: 0;
        transform: translateY(-40%)
    }

    100% {
        opacity: 1;
    }
}

@keyframes mowgli3 {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}